
body {
    background: #4776E6;  
    background: -webkit-linear-gradient(to right, #8E54E9, #4776E6);  
    background: linear-gradient(to right, #8E54E9, #4776E6); 
    height: 100%;
    font-size: 1.3rem;
    font-family: "Montserrat", sans-serif;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -webkit-overflow-scrolling: touch;
    min-height: 100vh;
    
}

header {
   display: inline-block;
   padding: 0px;
   height: 40px;
   line-height: 40px;
   left: 40px;
   margin: 0px;
   background: white;
   white-space: nowrap;
   width: 100%;
}

.navbar-brand {
    float: left;
    font-size: 1.25rem;
} 

a {
    background-color: transparent;
}

#menu {
        position: fixed;
        top: 0;
        left: 0px;
        width: 40px;
        height: 100%;
        display: flex;
        flex-direction: column;
        background: white;
        overflow: auto;
    } 
   
 #contact {
        position: fixed;
        top: 0%;
        right: 0px;
        width: 40px;
        height: 100%;
        display: flex;
        flex-direction: column;
        background: white;
        overflow: auto;
    } 
    
.footer {
    display: block;
    position: fixed;
    height: 40px;
    line-height: 40px;
    bottom: 0;
    left: 0;
    margin: 0px;
    background: white;
    white-space: nowrap;
    width: 100%;
    z-index: 0;
    } 

    .page-style {
        display: flex;
	    justify-content: center;
        align-items: center;
        margin-left: 45%;
    }