
body {
    background: #4776E6;  
    background: -webkit-linear-gradient(to right, #8E54E9, #4776E6);  
    background: linear-gradient(to right, #8E54E9, #4776E6); 
    height: 100%;
    font-size: 1.3rem;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -webkit-overflow-scrolling: touch;
    min-height: 100vh;
    
}

header {
   display: inline-block;
   padding: 0px;
   height: 40px;
   line-height: 40px;
   left: 40px;
   margin: 0px;
   background: white;
   white-space: nowrap;
   width: 100%;
   z-index: 500;
}

.navbar-brand {
    float: left;
    z-index: 500;
} 

h2 {
    font-family: 'Playfair Display SC', serif;
    font-variant: small-caps;
    letter-spacing: 5px;
    color: black;
    margin-left: 40px;
    font-weight: bold;
}

#menu {
        position: fixed;
        top: 0;
        left: 0px;
        width: 40px;
        height: 100%;
        display: flex;
        flex-direction: column;
        background: white;
        overflow: hidden;
        justify-content: center;
        align-items: center;
    } 

  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    
  } 

  li a {
    display: block;
      margin-top: 20px;
  }

 a {
      display: none;
  }

 .aboutme:hover .male,
 .aboutme .male-filled, 
 .portfolio:hover .document,
 .portfolio .document-filled,
 .contact:hover .message,
 .contact .message-filled{
     display: none;
 }

 .aboutme:hover .male-filled,
 .portfolio:hover .document-filled,
 .contact:hover .message-filled{
     display: inline;
 }

   
 #contact {
        position: fixed;
        top: 0%;
        right: 0px;
        width: 40px;
        height: 100%;
        display: flex;
        flex-direction: column;
        background: white;
        overflow: auto;
        justify-content: center;
        align-items: center;
    } 
    .link, .git {
        margin-left: 5px;
        display: inline;
    }
    
.footer {
    display: block;
    position: fixed;
    height: 40px;
    line-height: 40px;
    bottom: 0;
    left: 0;
    margin: 0px;
    background: white;
    white-space: nowrap;
    width: 100%;
    z-index: 0;
    } 

 #doodle {
        display: flex;
	    justify-content: center;
        align-items: center;
        margin-left: 45%;
    }