
body {
    min-height: 400px;
    margin-bottom: 100px;
    clear: both;


}

header {
   display: inline-block;
   position: fixed;
   padding: 0px;
   height: 40px;
   line-height: 40px;
   left: 40px;
   margin: 0px;
   background: white;
   white-space: nowrap;
   width: 100%;
   z-index: 500;
}

.navbar-brand {
    float: left;
    z-index: 500;
} 

h2 {
    font-family: 'Playfair Display SC', serif;
    font-variant: small-caps;
    letter-spacing: 5px;
    color: black;
    margin-left: 40px;
    font-weight: bold;
    text-shadow: 1px 1px #666;
}

#menu {
        position: fixed;
        top: 0;
        left: 0px;
        width: 40px;
        height: 100%;
        display: flex;
        flex-direction: column;
        background: white;
        overflow: hidden;
        justify-content: center;
        align-items: center;
    } 

  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    
  } 

  li {
    display: block;
      margin-top: 20px;
  }


 .aboutme:hover .male,
 .aboutme .male-filled, 
 .portfolio:hover .document,
 .portfolio .document-filled,
 .contact:hover .message,
 .contact .message-filled,
 .collabresume:hover .circle,
 .collabresume .circle-filled,
 .collabemail:hover .mail,
 .collabemail .mail-filled


 {
     display: none;
 }

 .aboutme:hover .male-filled,
 .portfolio:hover .document-filled,
 .contact:hover .message-filled,
 .collabresume:hover .circle-filled,
 .collabemail:hover .mail-filled
 {
     display: inline;
 }

   
 #contact {
        position: fixed;
        top: 0%;
        right: 0px;
        width: 40px;
        height: 100%;
        display: flex;
        flex-direction: column;
        background: white;
        overflow: auto;
        justify-content: center;
        align-items: center;
    } 
    .link, .git {
        margin-left: 5px;
        display: inline;
    }
    
.footer {
    display: block;
    position: fixed;
    height: 40px;
    line-height: 40px;
    bottom: 0;
    left: 0;
    margin: 0px;
    background: white;
    white-space: nowrap;
    width: 100%;
    
    } 
    

.landing {
        display: flex;
        flex-flow: row wrap;
        justify-content: space-evenly;
        align-items: center;
        align-content: center;
        background: #4776E6;  
        background: -webkit-linear-gradient(to right, #8E54E9, #4776E6);  
        background: linear-gradient(to right, #8E54E9, #4776E6); 
        height: 100%; 
 }

#doodle{
    margin-top: 50px;
    margin-bottom: 120px;

}

.hello {
    font-family: 'Playfair Display SC', serif;
    text-shadow:   4px 8px  rgba(0, 0, 0, 0.2)
}

h1 {
    font-family: 'Playfair Display SC', serif;
    font-size: 10em;
    
}

.intro {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    min-height: 400px;
    margin-bottom: 100px;
    clear: both;
    height: 100%;
}
.headshot {
margin-left: 50px;
order: 1;
background: white;
border: none;
}

.headshot {
   margin-top: 60px; 
   border-radius: 5px; 
   box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
} 

.about-me {
    margin-right: 100px;
    order: 2;
    font-size: 6em;
    border: none;
    text-shadow:   4px 8px  rgba(0, 0, 0, 0.2)
}

.logo-list{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    list-style: none;
    align-items: center;
    justify-content: space-evenly;
    
}

.logo {
    padding: 10px;
    margin-top: 10px;
    margin-bottom: 60px;
  }

  .geo {
    margin-top: 60px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }

  .projecttitlecontainer {
    display: flex;
    justify-content: flex-end;
    align-items: right;
    margin-bottom: 60px;
  }

  .projecttitle {
    margin-right: 100px;
    font-size: 6em;
    border: none;
    text-shadow:   4px 8px  rgba(0, 0, 0, 0.2);
    margin-top: 60px;
    margin-bottom: 60px
  }

.card-deck {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    
}

.portfoliocard {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);     align-items: center;
    align-content: center;
    padding: 7px 7px 7px 7px;
    margin-bottom: 60px;
}

.card-img-overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color: white;  
  }

  .portfoliocard:hover .card-img-overlay {
    opacity: 1;
  }

  .projectname {
        color: royalblue;
        font-size: 20px;
        position: absolute;
        top: 50%;
        left: 50%;
        -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);  

}

.collabtitle {
        text-align: center;
         font-size: 6em;
         border: none;
         text-shadow:   4px 8px  rgba(0, 0, 0, 0.2);
         margin-top: 60px;
         margin-bottom: 60px
     
}

.collaboration {
    margin-top: 90px;
    margin-bottom: 60px;
}

.collab-buttons{
    display: flex;
    justify-content: space-evenly;   
}


.resume-button, .emailme-button {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-items: center;
    height: 300px;
    width: 300px;
    background-color: white;
    border-style: solid;
    border-width: 8px;
    border-left-color: #4776E6;
    border-right-color: #8E54E9;
    border-top-color: #8E54E9;
    border-bottom-color: #4776E6;
    border-radius: 25px;
    margin-bottom: 60px;
}

h3 {
    font-family: 'Playfair Display SC', serif;
    font-variant: small-caps;
    letter-spacing: 5px;
    color: black;
    font-weight: bold;
    text-shadow: 1px 1px #666;
    margin-right: 3px;
    font-size: 36px
}

